<div class="row" id="breadcrumb" style="margin-right:15px !important;">
    <div class="col-md-6 col-sm-8">
        <div class="row" style="margin-left:4px !important">
            <div id="bc2" class="btn-group btn-breadcrumb">
                <a (click)="home()" *ngIf="super_admin_home" class="btn btn-default"><i class="fa fa-home"></i></a>
                <a (click)="home()" *ngIf="customer_home" class="btn btn-default"><i class="fa fa-home"></i></a>
                <a (click)="customerPage()" *ngIf="customer_name" class="btn btn-default">
                    <div>Customer Page</div>
                </a>
                <a (click)="sitePage()" *ngIf="saving_site_dash" class="btn btn-default">Site Page</a>
                 
            </div>
        </div>
    </div>
</div>
<div id="page-wrapper" class="container-fluid">
    <div *ngIf="isShown">
        <div class="row ">
            <div class="dashboard_trakcer">Change Password</div>
            <hr>
            <!-- change password form  -->
            <div class="mt-6 col-8 offset-2 chngpwd">
                <div class="card">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <form #changePassword=ngForm (ngSubmit)="onChangePwd()">
                            <div class="form-group row">
                                <div class="col-sm-10 oldp ">
                                    <input type="password" name="old_password" class="form-control"
                                        placeholder="Old Password" required
                                        [(ngModel)]="changePasswordModel.oldpassword" base-sixty-four-input>
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-sm-10 newp">
                                    <input type="password" name="new_password" class="form-control"
                                        placeholder="New Password" required
                                        [(ngModel)]="changePasswordModel.newpassword">
                                </div>
                            </div>

                            <div class="form-group row">

                                <div class="col-sm-10 confp">
                                    <input type="password" name="conf_password" class="form-control"
                                        placeholder="Confirm Password" required
                                        [(ngModel)]="changePasswordModel.confirmpassword">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-10 chpwd">

                                    <button type="submit" class="btn btn-primary "
                                        [disabled]="!changePassword.valid">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- dashboard content -->
    <div *ngIf="!isShown">


        <div class="row">
            <div class="dashboard_trakcer"> {{sitename}}</div>
            <hr>


            <!-- 1st snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <i class="fa fa-bell fa-fw fa-3x"></i>
                    </div>
                    <div class="box" style="cursor: pointer;" (click)="alarmTable()">
                        <div class="box-heading text-faded">Alarms</div>
                        &nbsp;
                        <div class="box-number1 text-faded">{{alarms}}</div>

                        &nbsp;
                        <a du-smooth-scroll="table" du-scrollspy class="footer">More Info <i
                                class="fa fa-chevron-circle-right"></i></a>
                    </div>
                </div>

            </div>


            <!-- 1st snapshot end -->


            <!-- 2nd snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <img id="img-ctn" src="assets/image/consume.png" width="45">
                    </div>
                    <div class="box">
                        <div class="box-heading text-faded">Total Energy Consumed</div>

                        <div class="box-number text-faded">{{energyConsumed | number:'1.1-1'}} kWh</div>
                        <div>
                            <span id="sparklineA">from {{liveDate}}</span><br>
                            <span id="sparklineA">till {{previous}}</span>
                        </div>
                        &nbsp;
                    </div>
                </div>

            </div>


            <!-- 2nd snapshot end -->

            <!-- 3rd snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <img id="img-ctn" src="/assets/image/energy.png" width="45">
                    </div>
                    <div class="box">
                        <div class="box-heading text-faded">Monthly Units</div>

                        <div class="box-number text-faded">{{monthlyAvg | number:'1.1-1'}} kWh </div>
                        <div>
                            <span id="sparklineA">from {{monthdate}}</span><br>
                            <span id="sparklineA">till {{previous}}</span>
                        </div>
                        &nbsp;
                    </div>
                </div>

            </div>



            <!-- 3rd snapshot end -->

            <!-- 4th snapshot start -->
            <div class="col-lg-3 col-sm-6 col-xs-6">
                <div class="circle-title2">
                    <div class="circle-title-heading">
                        <img id="img-ctn" src="/assets/image/low.png" width="45">
                    </div>
                    <div class="box">
                        <div class="box-heading text-faded">Avg. Daily Units</div>

                        <div class="box-number text-faded">{{dailyAvg | number:'1.1-1'}} kWh</div>
                        <div>
                            <span id="sparklineA">from {{liveDate}}</span><br>
                            <span id="sparklineA">till {{previous}}</span>
                        </div>

                        &nbsp;

                    </div>
                </div>

            </div>
        </div>

        <!--Alarm details table-->

        <!--power-status and customer power-status start-->
        <div class="row mt-4">

            <div class="col-md-12 col-sm-12">

                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o"></i> Trend Overview(MonthlyTrend)
                </div>
                <div class="chart-body">

                    <app-highcharts [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                        [options]="lineChartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                        [isOneToOne]="oneToOneFlag" style="width: 100%; height: 100%; display: block;"></app-highcharts>
                </div>
            </div>
        </div>
        <!--End of the power-status and customer power-status-->

        <!--chart start-->
        <div class="row mt-4">
            <div class="col-sm-12 ">
                <div class="heading-panel">

                    <div class="row">
                        <div class="col-md-7" style="margin-top: 20px;">
                            Total Energy Consumption
                        </div>
                        <div class="col-md-3">
                            <mat-form-field appearance="outline">
                                <input matInput [max]="maxDate" [min]="minDate" [matDatepicker]="picker1"
                                    [formControl]="date" [value]="date.value" (dateChange)="columnGraphFilterChanged()">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div *ngIf="showIntervalOptions; then thenTemplate else elseTemplate"></div>
                        <ng-template #thenTemplate>
                            <div class="col-md-2">
                                <mat-form-field appearance="outline">
                                    <mat-select [(value)]="selected_task"
                                        (selectionChange)="columnGraphFilterChanged()">
                                        <mat-option *ngFor="let interval of intervals" [value]="interval.value">
                                            {{interval.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </ng-template>
                        <ng-template #elseTemplate>
                            <div class="col-md-2"></div>
                        </ng-template>
                    </div>
                </div>
                <div class="chart-body" *ngIf="showDailygraph">
                    <app-highcharts #chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                        [options]="barChartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                        [isOneToOne]="oneToOneFlag" style="width: 100%; height: 100%; display: block;"></app-highcharts>
                </div>
                <div *ngIf="showHourlygraph">
                        <app-highcharts #chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                        [options]="updatedbarChartOptions" [callbackFunction]="chartCallback" [(update)]="updateFlag"
                        [isOneToOne]="oneToOneFlag" style="width: 100%; height: 100%; display: block;"></app-highcharts>
                </div>

                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <button class="md-raised md-primary md-button md-link-ripple" type="button"
                            style="float: right;" (click)="exportExcelData()">
                            <span class="ng-scope">Export Excel</span>
                        </button>
                        <button class="md-raised md-primary md-button md-link-ripple" type="button" id="excelbtn"
                            style="float: right;" (click)="changeGraphStacking()">
                            <span class="ng-scope">Change Graph</span>
                        </button>
                        <button class="md-raised md-primary md-button md-link-ripple" id="button" type="button"
                            (click)="reenable()">
                            <span class="ng-scope" *ngIf="graphShown">Disable All</span>
                            <span class="ng-scope" *ngIf="!graphShown">Enable All</span>
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>