<div class="login-wrapper">
  <div class="logo">
    <img class="logo-img" width="100" alt="Aviconn logo" src="assets/image/1.png">
    <img class="logo-text" width="100" alt="Aviconn logo-text" src="assets/image/2.png">
    <h5 id="esm">Aviconn Smart Energy Management<br>( SEM )</h5>
  </div>
  <div class="card-3d">
    <form (ngSubmit)="onLogin()" [formGroup]="userLogin">
      <div class="form-group">
        <mat-form-field class="example-full-width" appearance="none">
          <input id="input-username" matInput class="form-control" placeholder="Username" formControlName="username">
          <mat-error *ngIf="userLogin.get('username').hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="none">
          <input id="input-password" matInput class="form-control" placeholder="Password" type="password"
            formControlName="password">
          <mat-error *ngIf="userLogin.get('password').hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <a [routerLink]="" id="fp" data-toggle="modal" data-target="#forgotpasswordModal">Forgot Password ?</a><br>
      <button mat-ripple mat-raised-button class="btn-anim" type="submit" [disabled]="loading">Login</button><br>
      <div class="spinner" style="margin-top: -400px;
  margin-bottom: 1rem;
  display: block;
  z-index: 9999999999;
  background: #1b1b1b;
  position: relative;
  height: 840px;" *ngIf="loading" layout-align="center center">
        <!-- Use Angular Material spinner instead of external GIF -->
        <div style="display:flex;justify-content:center;padding-top:160px;">
          <mat-progress-spinner diameter="80" mode="indeterminate" color="accent"></mat-progress-spinner>
        </div>
      </div>
      <div style="display:inline-block;">
        <a href="http://www.aviconn.in/" target="_blank" style="float: left" id="avc">www.aviconn.in</a>
      </div>
      <div style="display:inline-block; margin-left: 152px;">
        <a href="mailto:sem@aviconn.in?Subject=Aviconn ESM Enquiry" style="float:right" id="sup">Support</a>
      </div>
      <br>

    </form>
  </div>
</div>

<div class="footimg">
  <img class="bottomImg" src="assets/image/bottom_img.png">
</div>
<!-- <popup>Password Reset</popup> -->
<div class="modal fade" id="forgotpasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div *ngIf="!isCollapsed">
          <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
        </div>
        <div *ngIf="isCollapsed">
          <h5 class="modal-title" id="exampleModalLabel">Reset Password</h5>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="!isCollapsed">
          <form [formGroup]="forgotForm" (ngSubmit)="onForgottpwd()">
            <!-- user name input box -->
            <div class="form-group">
              <label class="col-form-label">User Name:</label>
              <input type="text" formControlName="userid" maxlength="20" minlength="4" required class="form-control"
                id="recipient-name" name="userid">
              <div
                *ngIf="forgotForm.get('userid')?.errors && (forgotForm.get('userid')?.dirty || forgotForm.get('userid')?.touched)"
                class="alert alert-danger">
                <div *ngIf="forgotForm.get('userid')?.errors?.required">
                  Please enter a Username
                </div>
                <div *ngIf="forgotForm.get('userid')?.errors?.minlength">
                  please enter atleast 4 characters

                </div>
              </div>
            </div>


            <!-- Mobile Input box -->
            <div class="form-group">
              <label class="col-form-label">Mobile No.:</label>
              <input type="text" formControlName="mobile" maxlength="10" minlength="10" required class="form-control"
                name="mobile">
              <div
                *ngIf="forgotForm.get('mobile')?.errors && (forgotForm.get('mobile')?.dirty || forgotForm.get('mobile')?.touched)"
                class="alert alert-danger">
                <div *ngIf="forgotForm.get('mobile')?.errors?.required">
                  Please enter a Mobile No.
                </div>
                <div *ngIf="forgotForm.get('mobile')?.errors?.minlength">
                  please enter 10-digit correct Number

                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Email</label>
              <input style="color: rgb(197, 27, 27);" type="email" formControlName="email" maxlength="30" required email
                class="form-control" name="email">
              <div
                *ngIf="forgotForm.get('email')?.errors && (forgotForm.get('email')?.dirty || forgotForm.get('email')?.touched)"
                class="alert alert-danger">
                <div *ngIf="forgotForm.get('email')?.errors?.required">
                  Please enter a Email ID.

                </div>
                <div *ngIf="forgotForm.get('email')?.errors?.email">
                  please enter valid Email ID

                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="!forgotForm.valid" type="submit" class="btn btn-warning">Submit</button>
            </div>
          </form>
        </div>


        <!-- 2nd form update password-->
        <div *ngIf="isCollapsed">
          <form [formGroup]="resetForm" (ngSubmit)="onResetpwd()" autocomplete="true">
            <!-- user name input box -->
            <div class="form-group">
              <label class="col-form-label">OTP:</label>
              <input type="text" formControlName="otp" maxlength="5" minlength="5" required class="form-control"
                id="recipient-otp" name="otp">
              <div
                *ngIf="resetForm.get('otp')?.errors && (resetForm.get('otp')?.dirty || resetForm.get('otp')?.touched)"
                class="alert alert-danger">
                <div *ngIf="resetForm.get('otp')?.errors?.required">
                  Please enter a valid otp

                </div>
                <div *ngIf="resetForm.get('otp')?.errors?.minlength">
                  please enter 5 characters

                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="col-form-label">New Password :</label>
              <input type="password" formControlName="newpassword" maxlength="15" minlength="8" required
                class="form-control" name="newpassword">
              <div
                *ngIf="resetForm.get('newpassword')?.invalid && (resetForm.get('newpassword')?.dirty || resetForm.get('newpassword')?.touched)"
                class="alert alert-danger">
                <div *ngIf="resetForm.get('newpassword')?.errors?.required">
                  Please enter a New password

                </div>
                <div *ngIf="resetForm.get('newpassword')?.errors?.minlength">
                  please enter valid New password

                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Confirm Password:</label>
              <input type="password" formControlName="confirmpassword" maxlength="15" minlength="8" required compare
                class="form-control" name="confirmpassword">
              <div
                *ngIf="resetForm.get('confirmpassword')?.errors && (resetForm.get('confirmpassword')?.dirty || resetForm.get('confirmpassword')?.touched)"
                class="alert alert-danger">
                <div *ngIf="resetForm.get('confirmpassword')?.errors?.required">
                  Please enter a Confirm Password.

                </div>
                <div *ngIf="resetForm.errors?.passwordMismatch">Password not match..try again</div>
                <div *ngIf="resetForm.get('confirmpassword')?.errors?.minlength">
                  please enter valid Confirm Password

                </div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button [disabled]="!resetForm.valid" type="submit" class="btn btn-warning">OK</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>